{% extends "XHGPlateformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout d'annonces {% endblock %}

{% block body %}
    <h2>Ajouter une annonce</h2>
    {{ include("XHGPlateformBundle:Advert:form.html.twig") }}
    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>
{% endblock %}