
<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma deuxième page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Bye bye World !</h1>
        <p>
            Voilà, comme j'ai plutôt bien compris la première partie du tuto
            je suis capable de faire cette deuxième page.
            Salut les gros !
        </p>
    </body>
</html>
